.body_div {
    background-color: black
}

.screen {
    border: 2px solid black;
    border-radius: 5px;
    background-color: #cccccc;
    height: 150px;
    width: 610px;
    display: inline-block
}

.user_input {
    background-color: #cccccc;
    resize: none;
    font-size: 24px;
    border: none
}

button {
    margin-right: 5px;
    margin-top: 5px;
    width: 80px;
    height: 60px;
    justify-content: center;
    background-color: #42577d;
    color: white;
    border-radius: 15px;
    border-bottom: 5px solid #333333;
    border-right: 5px solid #333333;
    border-top: 5px solid #42577d;
    border-left: 5px solid #42577d;
    font-size: 24px;
    outline: none
}

button:hover {
    cursor: pointer;
}

button:active {
    border-bottom: 5px solid #42577d;
    border-right: 5px solid #42577d;
    border-top: 5px solid #333333;
    border-left: 5px solid #333333;
}

.odd_button {
    padding-bottom: 5px
}
